# Dependencies
node_modules/
*.npm
*.yarn
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
prisma/migrations/
.env.test
